.currentStat{
  width: 150px;
  height: 135px;
  background-color: blue;
  border: gray;
  direction: rtl;
  float: right;
  text-align: center;
  position: relative;
  transform: translateY(5%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin-top: 20%;
}

.text{
  direction: rtl;

}

.chart{
  width: 300px;
  height: 250px;
  direction: rtl;
  float: right;
  display: inline-grid;
  margin-right: 50px;

}

.title{
  direction: rtl;
}

.progression{
  direction: rtl;
  float: left;
}

.warpper{
  margin-right: 50px;
  float: right;
}


