<div class="container">
  <div class="header">
    <span class="title" style="display: block;">חקירות חדשות טרם הוקצו</span>
    <span class="title">1,412 מקרים חדשים |</span>
    <span class="title">50 קבוצות</span>
  </div>

  <div class="table">

    <div class="teams">
      <div class="teams-header">
        <div class="filter-button">
          <span class="filter-icon"></span>
          <span class="slider-icon"></span>
        </div>
      </div>

      <ul class="team">
        <div class="team-title">
          <div class="team-break-button">פרק קבוצה</div>
          <span>קבוצה שהתאמתה על מקום</span>
        </div>
        <li></li>
      </ul>
    </div>

    <div class="boxes">
      <div class="filter-box">סינון מהיר</div>
      <div class="filter-box">מיון מהיר</div>
    </div>

  </div>
</div>
