.section-tree-invisible {
  display: none;
}

.section-tree ul,
.section-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.section-tree,
#message{
  direction: rtl;
}

#sidenav{
  width: 130%;
  float: right;
  flex: 1;
}
